.footer {
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--tertiary-color);
}

.footer__text {
    font-weight: bold;
}