.home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home__informations {
    display: flex;
    align-items: space-evenly;
    justify-content: center;
    border-bottom: 1px solid var(--tertiary-color);
}

.home__information {
    width: 33%;
}