.navigation {
    height: 3.5rem;
    margin: 1rem 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--tertiary-color);
    border-radius: 50px;
    overflow: hidden;
}

.navigation__logo {
    height: 100%;
    cursor: pointer;
}

.navigation__items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100%;
}

.navigation__item {
    color: black !important;
    text-decoration: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 1.5rem;
    transition: background-color 0.2s linear !important;
}

.navigation__item:hover  {
    color: black !important;
    text-decoration: none !important;
    cursor: pointer;
    background-color: var(--secondary-color);
    transition: background-color 0.2s linear !important;
}